{% extends "main.html" %}
{% block content %}
{% load cart_tag %}
{% load filtros %}

<div class="container">
    <div class="text-center mt-4 mb-2">
        <h1 class="pt-4">Carrito</h1>
        <h4 class="pb-4">Aqui encontraras los productos de tu cesta</h4>
    </div>
    <div class="row">        
        <div class="col-8  d-flex justify-content-center border">
            <div class="container bg-light " style = "max-height: 650px ; overflow: auto; ">
                {% for key, value in request.session.cart.items %}
                    <div class="row py-2">
                        <div class="col mx-auto my-auto text-center">
                            <img src={{value.image|slice:'1:'|urldecode}} alt="..." class="img-thumbnail">
                        </div>
                        <div class="col mx-auto my-auto text-center">
                            <p>{{value.name}}</p>
                        </div>
                        <div class="col mx-auto my-auto text-center">
                            <P>unidades</p>
                            <p>{{value.quantity}}</p>
                        </div>
                        <div class="col mx-auto my-auto text-center">
                            <button type="button" onclick="window.location.href='{% url 'item_increment' value.product_id %}'" class="btn btn-primary rounded ">
                                <i class="fas fa-plus"></i>
                            </button>
                            <button type="button" onclick="window.location.href='{% url 'item_decrement' value.product_id %}'" class="btn btn-primary rounded ">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <div class="col mx-auto my-auto text-center">
                            <P>€/und.</p>
                            <p>{{ value.price }} €</p>
                        </div>
                        <div class="col mx-auto my-auto text-center">
                            <button type="button" onclick="window.location.href='{% url 'item_clear' value.product_id %}'" class="btn btn-danger rounded ">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                    <hr>
                {%endfor%}
            </div>
        </div>
        
        <div class="col-4 d-flex justify-content-center border">
            <div class="container rounded py-3 px-4">
                <div class="row mt-3">
                    <div class="col-12">
                        <h3>Productos</h3>
                        <hr>
                    </div>
                    <div class="col-12 ml-5">
                        {% for key, value in request.session.cart.items %}
                        <div class="row py-1">
                            <p>{{value.quantity}} x {{value.name}} = {{value.price|multiply:value.quantity}}€</p>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <hr>
                <div class="row mt-3">
                    <div class="col">
                        <h3>Total</h3>
                    </div>
                    <div class="col">
                        <h3>{{ request.session.cart|total_price }}€</h3>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                <button type="button" onclick="window.location.href='{% url 'cart_clear' %}'" class="button-21 mt-5 px-5">Realizar Pedido</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}