{% extends 'main.html' %}
{% load static %}

{% block content %}

<section class="text-center mt-5 hero-section pb-5">
  {% if exitoPedido %}
    <img src="{% static 'images/SlotsSolutions.jpg' %}" alt="Logo" class="navbar-brand logo-img mt-5">
    <h1 class="mt-5">Peido realizado con exito <i class="fas fa-check-circle text-success"></i></h1>
  {% endif %}
  {% if isAuth %}
    <img src="{% static 'images/SlotsSolutions.jpg' %}" alt="Logo" class="navbar-brand logo-img mt-5">
    <h1 class="pt-5">Gracias por formar parte de nuestra tienda</h1>
    <h4 class="mb-4">Esperemos que te guste</h4>
  {% else %}
    <img src="{% static 'images/SlotsSolutions.jpg' %}" alt="Logo" class="navbar-brand logo-img mt-5">
    <h1 class="pt-5">Bienvenido a Nuestra Tienda</h1>
    <h4 class="mb-4">Descubre los últimos productos y ofertas exclusivas</h4>
    <button class="btn btn-primary mt-5" onclick="window.location.href={% url 'login' %}">Inicia sesión para más contenido</button>
    <p class="mb-5">¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
  {% endif %}
</section>


<section style="background-color: #F4F5F6;">
  <div class="container">
    <div class="text-center">
    <h1 class="pt-5">Nuevos Productos</h1>
    <h4 class="pb-5">Ultimos productos que han llegado al almacen</h4>

    </div>
      <div class="owl-container pb-5">
        <div class="owl-carousel custom-carousel owl-theme ">
          {% for productCarrousel in productoCarrousel %}
            <div class="item m-4" style="background-color: white;">
                <div class="row">
                    <div class="col-md-6 text-center" style="background-color:rgb(255, 255, 255); border-radius: 10px;">
                        <img src="{{ productCarrousel.image }}" alt="{{ product.name }}">
                    </div>
                    <div class="col-md-6" style="background-color: #e1e1e6; border-radius: 10px;">
                        <h4 class="m-3">{{ productCarrousel.name }}</h4>
                        <p class="m-3 card-text borderPrize">{{ productCarrousel.price }} €</p>
                       
                        <div class="text-center mt-5 mb-3" style="width: 100%;">
                          <a href="{% url 'cart_add' productCarrousel.id %}"><button class="button-21" role="button">Añadir al Carrito</button></a>
                          
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
          <div class="owl-theme">
            <div class="owl-controls">
                <div class="custom-nav owl-nav"></div>
            </div>
        </div>
        </div>
        
      </div>
    </div>
</section> 



<section class="pt-5">
  <div class="container">

    <div class="borderDiv text-center  mt-5">
      <h1 class="pb-5 pt-5">Productos de Cosmética</h1>
    </div>

    <div class="row mt-5 mb-3" >
      <div class="form-group col-4">
        <label for="product-type">Tipo de Producto:</label>
        <select class="form-control selectForms" id="product-type">
          <option value='0'>No seleccionado</option>
          {% for tipos in conectTipo %}
          <option value="{{ tipos.type_id }}">{{ tipos.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group col-4">
        <label for="product-prize">Precio:</label>
        <select class="form-control selectForms" id="product-prize">
          <option class="mt-2" id="option-0" value='0'>No seleccionado</option>
          <option class="mt-2" id="option-1" value="1">De Menos a Mas</option>
          <option class="mt-2" id="option-2" value="2">De Mas a Menos</option>
        </select>
      </div>

      <div class="form-group col-4">
        <label for="product-proveedor">Proveedores:</label>
        <select class="form-control selectForms" id="product-proveedor">
          <option value='0'>No seleccionado</option>
          {% for proveedor in conectProveedor %}
          <option value="{{ proveedor.id }}">{{ proveedor.username }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  

    <div class="row" id="here">
      {% if selected %}
          {% for queryType in query %}
            {% if queryType.stock > 0 %}
              <div class="col-md-4 mt-4 product-info" id="product-{{ queryType.id }}" data-product-id="{{ queryType.id }}">
                  <div class="card">
                      <img src="{{ queryType.image }}" class="imageCard card-img-top mx-auto d-block" alt="#">
                      <hr style="border-color: #FEA424;">
                      <div class="card-body d-flex justify-content-between">
                          <div>
                              <h5 class="card-title">{{ queryType.name }}</h5>
                          </div>
                          <div class="text-right">
                              <p class="card-text borderPrize">{{ queryType.price }} €</p>
                          </div>
                      </div>
                  </div>
              </div>
            {% endif %}
            {% endfor %}
      {% else %}
          {% for product in producto %}
            {% if product.stock > 0 %}
              <div class="col-md-4 mt-4 product-info" id="product-{{ product.id }}" data-product-id="{{ product.id }}">
                  <div class="card">
                      <img src="{{ product.image }}" class="imageCard card-img-top mx-auto d-block" alt="#">
                      <hr style="border-color: #FEA424;">
                      <div class="card-body d-flex justify-content-between">
                          <div>
                              <h5 class="card-title">{{ product.name }}</h5>
                          </div>
                          <div class="text-right">
                              <p class="card-text borderPrize">{{ product.price }} €</p>
                          </div>
                      </div>
                  </div>
              </div>
              {% endif %}
          {% endfor %}
          <div class="text-center mt-4" style="width: 100%;">
          <button id="show-more" class="button-38" role="button">Ver Mas</button>
          </div>
      {% endif %}
    </div>
    
  </div>
</section>

{% endblock content %}