{% extends 'main.html' %}
{% load static %}
{% block content %}

<script>
    function mostrarDatosPedido(id) {
        var contenido = document.getElementById("datosPedido"+id);

        contenido.classList.toggle('perfilHide');
    }
</script>

<section class="container">
    <div class="container-fluid h-100">
        <!-- Parte superior -->
        <div class="row bg-primary text-white py-2">
            <div class="col-12 text-center"  id="encabezado">
                <h1>{{ user.username }}</h1>
                <hr>
            </div>
        </div>

        <!-- Parte inferior -->
        <div class="row h-100">
            <!-- Parte izquierda -->
            <div class="col-3 bg-light">
                <div class="list-group">
                    <a href="#" id="selectDatos" class="list-group-item list-group-item-action active">Datos</a>
                    <a href="#" id="selectPedidos" class="list-group-item list-group-item-action">Pedidos</a>
                </div>
            </div>
            <!-- Parte derecha -->
            <div class="col-9">
                <!-- Información de datos -->
                <div id="infoDatos">
                    <h2>Datos del perfil</h2>
                    <p>Nombre: {{ user.username }}</p>
                    <p>Correo electrónico: {{ user.email }}</p>
                    <p>Teléfono: {{ user.telefono }}</p>
                </div>
                <!-- Información de pedidos -->
                <div id="infoPedidos" class="perfilHide">
                    <h2>Información de pedidos</h2>
                    {% for pedido in pedidos %}
                    <button id="botonPedido{{ pedido.pedido_id }}" style="width:100%;" onclick="mostrarDatosPedido('{{ pedido.pedido_id }}')">Pedido {{ pedido.pedido_id }}</button>
                    <div id="datosPedido{{ pedido.pedido_id }}" class="perfilHide">
                        <p>Fecha del pedido: {{ pedido.date_order }}</p>
                        <p>Estado del pedido: {{ pedido.status_id }} (cambiar el numero por lo que significa)</p>
                        <p>Precio final: {{ pedido.total_cost }}€</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}