{% extends 'main.html' %}
{% load static %}
{% block content %}

<script>
    function mostrarDatosPedido(id) {
        var contenido = document.getElementById("datosPedido"+id);

        contenido.classList.toggle('perfilHide');
    }
</script>
<section class="color-grey">
    <section class="container"  style="height: 600px;">
        <div class="container-fluid" style="height: 500px;">
            <!-- Parte superior -->
            <div class="row py-5">
                <div class="col-12 text-center">
                    <h1>{{ user.username }}</h1>
                    <hr>
                </div>
            </div>

            <!-- Parte inferior -->
            <div class="row" >
                <!-- Parte izquierda -->
                <div class="col-lg-3 col-sm-12 bg-light">
                    <div class="list-group mt-3">
                        <a href="#" id="selectDatos" class="list-group-item list-group-item-action active">Datos</a>
                        <a href="#" id="selectPedidos" class="list-group-item list-group-item-action">Pedidos</a>
                    </div>
                </div>
                <!-- Parte derecha -->
                <div class="col-lg-9 col-sm-12" style = "height: 400px; max-height: 450px ; overflow: auto; ">
                    <!-- Información de datos -->
                    <div id="infoDatos">
                        <h2>Datos del perfil</h2>
                        <p>Nombre: {{ user.username }}</p>
                        <p>Correo electrónico: {{ user.email }}</p>
                        <p>Teléfono: {{ user.telefono }}</p>
                    </div>
                    <!-- Información de pedidos -->
                    <div id="infoPedidos" class="perfilHide">
                        <h2>Información de pedidos</h2>
                        
                        {% for pedido in pedidos %}
                        <div class="border pedidos mt-3">
                            <div id="pedidoInfo{{ pedido.pedido_id }}" class="pedidos boreder p-2 mb-2" style="cursor: pointer;" onclick="mostrarDatosPedido('{{ pedido.pedido_id }}')">
                                <div class="row">
                                <div class="col-md-4">
                                    <p>Fecha del pedido: {{ pedido.date_order }}</p>
                                </div>
                                <div class="col-md-4">
                                    <p>ID del pedido: {{ pedido.pedido_id }}</p>
                                </div>
                                <div class="col-md-4">
                                    <p>Precio final: {{ pedido.total_cost }}€</p>
                                </div>
                            </div>
                            </div>
                            <div id="datosPedido{{ pedido.pedido_id }}" class="pedidos-detail perfilHide">
                                <p>Estado del pedido: {{ pedido.status_id }} (cambiar el numero por lo que significa)</p>
                                
                                <!-- Información de los productos del pedido -->
                                <h4>Productos del pedido:</h4>
                                {% for item in pedido.items %}
                                    <p>{{ item.quantity }} x {{ item.product_name }} = {{ item.total_price }}€</p>
                                {% endfor %}
                                
                                <!-- Información de la dirección -->
                                <h4>Dirección de envío:</h4>
                                <p>{{ pedido.address }}</p>
                            </div>
                        </div>
                        {% endfor %}
                   
                    </div>                                   
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock content %}