{% extends 'main.html' %}
{% load static %}
{% block content %}


{% for msg in messages %}
{% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger fade show" role="alert">
	<strong>{{msg}}</strong>
</div>
{% endif %}
{% endfor %}

<div class="main">
	<div class="nav-item col-md-4 col-xs-12">
		<form class="formularioRegistro" method="POST" action="">
			{% csrf_token %}

			<div class="navbar-brand logo-contenedor" href="#">
				<img src="{% static 'images/SlotsSolutions.jpg' %}" alt="SlotsSolutions" class="logo">
			</div>

			<h2 style="text-align: center;">Registro de Usuario</h2>

			<ul class="navbar-nav ml-auto distancia">
				<li class="nav-item"><b>NOMBRE</b></li>
				<li>
					{{ form.first_name.errors }}
					<li class="nav-item"><input class="textfields" type="text" name="username" placeholder="Nombre"></input></li>
					
				</li>
				<li class="nav-item distancia"><b>APELLIDOS</b></li>
				<li>
					{{ form.last_name.errors }}
					<li class="nav-item"><input class="textfields" type="text" name="apellidos" placeholder="Apellidos"></input></li>
				</li>
				<li class="nav-item distancia"><b>TELÉFONO</b></li>
				<li>
					{{ form.telefono.errors }}
					<li class="nav-item"><input class="textfields" type="phone" name="telefono" placeholder="Telefono"></input></li>
				</li>
				<li class="nav-item distancia"><b>CORREO</b></li>
				<li>
					{{ form.email.errors }}
					<li class="nav-item"><input class="textfields" type="text" name="correo" placeholder="Correo"></input></li>
				</li>
				<li class="nav-item distancia"><b>DIRECCION</b></li>
				<li>
					{{ form.adress.errors }}
					<li class="nav-item"><input class="textfields" type="text" name="adress" placeholder="Direccion"></input></li>
				</li>
				<li class="nav-item"><b>CONTRASEÑA</b></li>
				<li>
					{{ form.password.errors }}
					<li class="nav-item"><input class="textfields" type="password" name="password" placeholder="Constraseña"></input></li>
				</li>
				<li class="nav-item"><input class="textfields distancia" type="password" name="password2" placeholder="Repita la contraseña"></input></li>
				<li class="nav-item distancia"><input type="submit" class="botoniniciar" value="Registarse"/></li>
				<li style="color:white"><p class="textoregistro imagen">Ya tienes cuenta?<a style="margin-left: 10px; color:white" href="{% url 'login' %}">Inicia sesión aqui</a></p></li>
			</ul>
		</form>
	</div>
</div>

{% endblock content %}