{% extends 'main.html' %}
{% load static %}
{% block content %}


{% for msg in messages %}
{% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger fade show" role="alert">
	<strong>{{msg}}</strong>
</div>
{% endif %}
{% endfor %}

<div class="main">
	<div class="nav-item col-md-4 col-xs-12">
		<form class="formularioRegistro" method="POST" action="">
			{% csrf_token %}

			<div class="navbar-brand logo-contenedor" href="#">
				<img src="{% static 'images/SlotsSolutions.jpg' %}" alt="SlotsSolutions" class="logo">
			</div>

			<h2 style="text-align: center;">Registro de Usuario</h2>

			<ul class="navbar-nav ml-auto distancia">
				<li class="nav-item"><b>NOMBRE</b></li>
				<input class="textfields" name="username" placeholder="Inserte su nombre"></input>
				<!--<li class="nav-item"><div class="textfields">{{form.first_name}}</div></li>-->
				<li class="nav-item distancia"><b>APELLIDOS</b></li>
				<input class="textfields" name="apellidos" placeholder="Inserte sus apellidos"></input>
				<!--<li class="nav-item"><div class="textfields">{{form.last_name}}</div></li>-->
				<li class="nav-item distancia"><b>TELÉFONO</b></li>
				input class="textfields" name="telefono" placeholder="Inserte su nº de teléfono"></input>
				<!--<li class="nav-item"><div class="textfields">{{form.first_name}}</div></li>-->
				<li class="nav-item distancia"><b>CORREO</b></li>
				<input class="textfields" name="correo" placeholder="Inserte su correo"></input>
				<!--<li class="nav-item"><div class="textfields">{{form.email}}</div></li>-->
				<li class="nav-item distancia"><b>CONTRASEÑA</b></li>
				<input class="textfields" type="password" name="password" placeholder="Inserte su contraseña">
				<!--<li class="nav-item"></input><div class="textfields">{{form.password}}</div></li>-->
				<li class="nav-item"><input class="textfields distancia" type="password" name="password2" placeholder="Repita la contraseña"></input></li>
				<li class="nav-item distancia"><input type="submit" class="botoniniciar" value="Registarse"/></li>
				<li><p class="textoregistro imagen">Ya tienes cuenta?<a href="{% url 'login' %}">Inicia sesión aqui</a></p></li>
			</ul>
		</form>
	</div>
</div>

{% endblock content %}