{% extends 'main.html' %}
{% load static %}
{% load filtros %}
{% block content %}
<nav class="navbar navbar-expand-md bg-light navbar-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav nav-tabs mx-auto">
      <li class="nav-item active">
        <a class="nav-link" id="CRUDproduct-tab" data-toggle="tab" data-target="#CRUDproduct" href="#CRUDproduct" role="tab" aria-controls="CRUDproduct" aria-selected="true">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="CRUDuser-tab" data-toggle="tab"  data-target="#CRUDuser" href="#CRUDuser" role="tab" aria-controls="CRUDuser" aria-selected="false">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="CRUDpedido-tab"data-toggle="tab"  data-target="#CRUDpedido" href="#CRUDpedido" role="tab" aria-controls="CRUDpedido" aria-selected="false">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="CRUDpedidoProductos-tab"data-toggle="tab"  data-target="#CRUDpedidoProductos" href="#CRUDpedidoProductos" role="tab" aria-controls="CRUDpedidoProductos" aria-selected="false">Productos por pedido</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="CRUDpedidoProv-tab" data-toggle="tab"  data-target="#CRUDpedidoProv" href="#CRUDpedidoProv" role="tab" aria-controls="CRUDpedidoProv" aria-selected="false">Proveedores y productos</a>
      </li>
    </ul>
  </div>
</nav>

<div class="tab-content container mt-5" id="myTabContent" style="max-width: 1700px!important;">  
  <table id="CRUDproduct" class="tab-pane fade show active table-striped table-bordered">
      <thead id="results">
        <tr class="text-center">
          <th>
            <div >
              <div style="margin-bottom: 10px; background-color: #F4F5F6;">
                ID
                <a href="{% url 'home' %}?columna=id&direction=asc"> &#x25B2; </a>
                <a href="{% url 'home' %}?columna=id&direction=desc">&#x25BC;</a>
              </div>
              <form >
                {% csrf_token %}
                <input style="width: 25%; margin-bottom: 10px;" type="number" name="query_product_id">
                <input style="width: 90%"  type="submit" value="Filtrar">
              </form>
            </div>
          </th>

          <th>
            <div >
              <div style="margin-bottom: 10px; background-color: #F4F5F6;">
                Nombre
                <a href="{% url 'home' %}?columna=name&direction=asc"> &#x25B2; </a>
                <a href="{% url 'home' %}?columna=name&direction=desc">&#x25BC;</a>
              </div>
              <form >
                {% csrf_token %}
                <input style="width: 65%; margin-bottom: 10px;" type="text" name="query_product_name">
                <input style="width: 90%"  type="submit" value="Filtrar">
              </form>
            </div>
          </th>
          
          <th>
            <div >
              <div style="margin-bottom: 10px; background-color: #F4F5F6;">
                Stock
                <a href="{% url 'home' %}?columna=stock&direction=asc"> &#x25B2;</a>
                <a   href="{% url 'home' %}?columna=stock&direction=desc"> &#x25BC;</a>
              </div>
              <form action="{% url 'home' %}" method="get">
                <label for="query_stock_min">min:</label>
                <input style="width: 25%;" type="number" id="query_stock_min" name="query_product_stock_min">
                <label for="query_stock_max">max:</label>
                <input style="width: 25%;" type="number" id="query_stock_max" name="query_product_stock_max">
                <input style="width: 90%; margin-top: 10px;"  type="submit" value="Filtrar">
              </form>
            </div>
          </th>

          <th>
            <div >
              <div style="margin-bottom: 10px; background-color: #F4F5F6;">
                Stock Minimo
                <a href="{% url 'home' %}?columna=min_stock&direction=asc"> &#x25B2;</a>
                <a href="{% url 'home' %}?columna=min_stock&direction=desc"> &#x25BC;</a>
              </div>
              <form action="{% url 'home' %}" method="get">
                <label for="query_min_stock_min">min:</label>
                <input style="width: 25%;" type="number" id="query_product_min_stock_min" name="query_product_min_stock_min">
                <label for="query_min_stock_max">max:</label>
                <input style="width: 25%;" type="number" id="query_product_min_stock_max" name="query_product_min_stock_max">
                <input style="width: 90%; margin-top: 10px;"  type="submit" value="Filtrar">
              </form>
            </div>
          </th>

          <th>
            <div >
              <div style="margin-bottom: 10px; background-color: #F4F5F6;">
                Coste/und
                <a href="{% url 'home' %}?columna=price&direction=asc"> &#x25B2;</a>
                <a href="{% url 'home' %}?columna=price&direction=desc"> &#x25BC;</a>
              </div>
              <form action="{% url 'home' %}" method="get">
                <label for="query_price_min">min:</label>
                <input style="width: 25%;" type="number" id="query_product_price_min" name="query_product_price_min">
                <label for="query_price_max">max:</label>
                <input style="width: 25%;" type="number" id="query_product_price_max" name="query_product_price_max">
                <input style="width: 90%; margin-top: 10px;"  type="submit" value="Filtrar">
              </form>
            </div>
          </th>

          <th>
            <div >
              <div style="margin-bottom: 10px; background-color: #F4F5F6;">
                Localización
                <a href="{% url 'home' %}?columna=location&direction=asc"> &#x25B2; </a>
                <a href="{% url 'home' %}?columna=location&direction=desc">&#x25BC;</a>
              </div>
              <form >
                {% csrf_token %}
                <input style="width: 65%; margin-bottom: 10px;" type="text" name="query_product_locate">
                <input style="width: 90%"  type="submit" value="Filtrar">
              </form>
            </div>
          </th>
          <th><a href="{% url 'home' %}?columna=type_id&direction=asc">Tipo de ID &#x25B2;</a><a   href="{% url 'home' %}?columna=type_id&direction=desc"> &#x25BC;</a></th>
          <th><a href="{% url 'home' %}?columna=fecha_llegada&direction=asc">Llegada Alm &#x25B2;</a><a   href="{% url 'home' %}?columna=fecha_llegada&direction=desc"> &#x25BC;</a></th>
          <th >Acciones  <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#createProductModal">
            <i class="fas fa-plus"></i>
          </button></th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for product in producto %}
        <tr >
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.min_stock }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.location }}</td>
          <td>{{ product.type_id }}</td>
          <td >{{ product.fecha_llegada }}</td>
          <td >
            <button id="botonEditProductos" type="button" class="btn btn-warning" data-toggle="modal" data-target="#editProductModal" data-product-id="{{ product.id }}" data-product-name="{{ product.name }}" 
            data-product-stock="{{ product.stock }}" data-product-stockmin="{{ product.min_stock }}" data-product-cost="{{ product.price }}" 
            data-product-location="{{ product.location }}" data-product-typeid="{{ product.type_id }}" data-product-fecha="{{ product.fecha_llegada }}">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteProductModal" data-product-id="{{ product.id }}">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
 
  <table id="CRUDuser"  class="tab-pane fade table-striped table-bordered ">
    <thead id="results">
      <tr class="text-center">
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              ID
              <a href="{% url 'home' %}?columnaUser=id&directionUser=asc#results"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaUser=id&directionUser=desc#results">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 25%; margin-bottom: 10px;" type="number" name="query_id_user">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>

        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Nombre
              <a href="{% url 'home' %}?columnaUser=first_name&directionUser=asc#results"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaUser=first_name&directionUser=desc#results">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 65%; margin-bottom: 10px;" type="text" name="query_nombre_user">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>

        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Apellido
              <a href="{% url 'home' %}?columnaUser=last_name&directionUser=asc#results"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaUser=last_name&directionUser=desc#results">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 65%; margin-bottom: 10px;" type="text" name="query_apellido_user">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Correo
              <a href="{% url 'home' %}?columnaUser=email&directionUser=asc#results"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaUser=email&directionUser=desc#results">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 65%; margin-bottom: 10px;" type="text" name="query_correo_user">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Dirección
              <a href="{% url 'home' %}?columnaUser=adress&directionUser=asc#results"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaUser=adress&directionUser=desc#results">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 65%; margin-bottom: 10px;" type="text" name="query_direccion_user">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Teléfono
              <a href="{% url 'home' %}?columnaUser=telefono&directionUser=asc#results"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaUser=telefono&directionUser=desc#results">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 65%; margin-bottom: 10px;" type="number" name="query_telefono_user">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Role id
              <a href="{% url 'home' %}?columnaUser=role_id&directionUser=asc#results"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaUser=role_id&directionUser=desc#results">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 25%; margin-bottom: 10px;" type="number" name="query_roleId_user">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        <th >Acciones  <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#createUserModal">
          <i class="fas fa-plus"></i>
        </button></th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for user in usuario %}
      <tr >
        <td>{{ user.id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.adress }}</td>
        <td>{{ user.telefono }}</td>
        <td>{{ user.role_id }}</td>
        <td >
          <button type="button" class="btn btn-warning" id="editUserButton" data-toggle="modal" data-target="#editUserModal"  data-user-id="{{ user.id }}" data-username="{{ user.username }}" data-nombre="{{ user.first_name }}" 
          data-apellidos="{{ user.last_name }}" data-direccion="{{ user.adress }}" data-correo="{{ user.email }}" 
          data-telefono="{{ user.telefono }}" data-role-id="{{ user.role_id }}">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteUserModal" data-user-id="{{ user.id }}">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>    
   
  <table id="CRUDpedido" class="tab-pane fade table-striped table-bordered ">
    <thead id="resultsOrder">
      <tr class="text-center">
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              ID 
              <a href="{% url 'home' %}?columnaPedido=pedido_id&directionPedido=asc#resultsOrder"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaPedido=pedido_id&directionPedido=desc#resultsOrder">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 25%; margin-bottom: 10px;" type="number" name="query_pedido_id">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>

        <th><a href="{% url 'home' %}?columnaPedido=data_order&directionPedido=asc#resultsOrder">Fecha pedido&#x25B2;</a><a   href="{% url 'home' %}?columnaPedido=date_order&directionPedido=desc#resultsOrder"> &#x25BC;</a></th>
        
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Status Id
              <a href="{% url 'home' %}?columnaPedido=status_id&directionPedido=asc#resultsOrder"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaPedido=status_id&directionPedido=desc#resultsOrder">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 25%; margin-bottom: 10px;" type="number" name="query_pedido_statusId">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Coste Total
              <a href="{% url 'home' %}?columnaPedido=total_cost&directionPedido=asc#resultsOrder"> &#x25B2;</a>
              <a href="{% url 'home' %}?columnaPedido=total_cost&directionPedido=desc#resultsOrder"> &#x25BC;</a>
            </div>
            <form action="{% url 'home' %}" method="get">
              <label for="query_pedido_price_min">min:</label>
              <input style="width: 25%;" type="number" id="query_pedido_price_min" name="query_pedido_price_min">
              <label for="query_pedido_price_max">max:</label>
              <input style="width: 25%;" type="number" id="query_pedido_price_max" name="query_pedido_price_max">
              <input style="width: 90%; margin-top: 10px;"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              User Id
              <a href="{% url 'home' %}?columnaPedido=user_id&directionPedido=asc#resultsOrder"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaPedido=user_id&directionPedido=desc#resultsOrder">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 25%; margin-bottom: 10px;" type="number" name="query_pedido_userId">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Dirección
              <a href="{% url 'home' %}?columnaPedido=address&directionPedido=asc#resultsOrder"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaPedido=address&directionPedido=desc#resultsOrder">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 65%; margin-bottom: 10px;" type="text" name="query_pedido_address">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Transportista
              <a href="{% url 'home' %}?columnaPedido=transport&transportPedido=asc#resultsOrder"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaPedido=transport&transportPedido=desc#resultsOrder">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 25%; margin-bottom: 10px;" type="number" name="query_pedido_transport">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        <th >Acciones</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for order in pedido %}
      <tr >
        <td>{{ order.pedido_id }}</td>
        <td>{{ order.date_order }}</td>
        <td>
          <select class="form-control" onchange="updateOrderStatus({{ order.pedido_id }}, this.value)">
              {% for estado in estados %}
                   <option value="{{ estado.status_id }}" {% if order.status_status_id == estado.status_id %}selected{% endif %}>
                      {{ estado.name }}
                  </option>
              {% endfor %}
          </select>
        </td>
        <td>{{ order.total_cost }}</td>
        <td>{{ order.user_id }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.transportista_name }}</td>
        <td >
          <abbr title="Etiqueta">
            <a href="{% url 'generate_etiqueta_pdf' order.pedido_id %}" class="btn btn-info"  target="_blank">
              <i class="fas fa-file-alt"></i>
            </a>
          </abbr>
          {% if order.pedido_id|get_albaran %}
          <abbr title="Albaran">
            <a href="{% url 'generate_albaran_pdf' order.pedido_id %}" class="btn btn-info" target="_blank">
              <i class="fas fa-file-pdf"></i>
            </a>
          </abbr>
          {% endif %}
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePedidoModal" data-order-id="{{ order.pedido_id }}" onclick="showDeleteOrderModal(this)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <table id="CRUDpedidoProductos" class="tab-pane fade table-striped table-bordered ">
    <thead id="resultsOrderPedidoProd">
      <tr class="text-center">
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Producto Id 
              <a href="{% url 'home' %}?columnaPedidoProd=product_id&directionPedidoProd=asc#resultsOrderPedidoProd"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaPedidoProd=product_id&directionPedidoProd=desc#resultsOrderPedidoProd">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 25%; margin-bottom: 10px;" type="number" name="query_PedProd_product">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Pedido Id
              <a href="{% url 'home' %}?columnaPedidoProd=pedido_id&directionPedidoProd=asc#resultsOrderPedidoProd"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaPedidoProd=pedido_id&directionPedidoProd=desc#resultsOrderPedidoProd">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 25%; margin-bottom: 10px;" type="number" name="query_PedProd_pedido">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Cantidad
              <a href="{% url 'home' %}?columnaPedidoProd=quantity&directionPedidoProd=asc#resultsOrderPedidoProd"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaPedidoProd=quantity&directionPedidoProd=desc#resultsOrderPedidoProd">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 25%; margin-bottom: 10px;" type="number" name="query_PedProd_quantity">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Precio Total
              <a href="{% url 'home' %}?columnaPedidoProd=total_cost&directionPedidoProd=asc#resultsOrderPedidoProd"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaPedidoProd=total_cost&directionPedidoProd=desc#resultsOrderPedidoProd">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <label for="query_price_min">min:</label>
              <input style="width: 25%;" type="number" id="query_product_price_min" name="query_PedProd_total_cost_min">
              <label for="query_price_max">max:</label>
              <input style="width: 25%;" type="number" id="query_product_price_max" name="query_PedProd_total_cost_max">
              <input style="width: 90%;" type="submit" value="Filtrar">
            </form>
          </div>
        </th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for pedidoProd in pedidoProd %}
      <tr >
        <td>{{ pedidoProd.product_id }}</td>
        <td>{{ pedidoProd.pedido_id }}</td>
        <td>{{ pedidoProd.quantity }}</td>
        <td>{{ pedidoProd.total_cost }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <table id="CRUDpedidoProv" class="tab-pane fade table-striped table-bordered ">
    <thead id="resultsOrderProv">
      <tr class="text-center">      
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Usuario Id
              <a href="{% url 'home' %}?columnaPedidoProv=user_id&directionPedidoProv=asc#resultsOrderProv"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaPedidoProv=user_id&directionPedidoProv=desc#resultsOrderProv">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 25%; margin-bottom: 10px;" type="number" name="query_orderProv_userId">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        <th>
          <div >
            <div style="margin-bottom: 10px; background-color: #F4F5F6;">
              Producto Id
              <a href="{% url 'home' %}?columnaPedidoProv=product_id&directionPedidoProv=asc#resultsOrderProv"> &#x25B2; </a>
              <a href="{% url 'home' %}?columnaPedidoProv=product_id&directionPedidoProv=desc#resultsOrderProv">&#x25BC;</a>
            </div>
            <form >
              {% csrf_token %}
              <input style="width: 25%; margin-bottom: 10px;" type="number" name="query_orderProv_productId">
              <input style="width: 90%"  type="submit" value="Filtrar">
            </form>
          </div>
        </th>
        <th >Acciones  <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#createPedidoModal">
          <i class="fas fa-plus"></i>
        </button></th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for orderProv in pedidoProv %}
      <tr>
        <td>{{ orderProv.user_id }}</td>
        <td>{{ orderProv.product_id }}</td>
        <td >
          <button type="button" class="btn btn-warning" id="editPedidoProvButton" data-toggle="modal" data-target="#editPedidoProvModal"  data-prodprov-id="{{ orderProv.product_id }}" >
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteProductProveedorModal" data-prodprov-id="{{ orderProv.product_id }}" onclick="deleteProductProveedor(this)">
            <i class="fas fa-trash-alt"></i>
          </button>          
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Modal para eliminar un proveedor-producto -->
<div class="modal fade" id="deleteProductProveedorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro de que desea eliminar este producto?
      </div>
      <div class="modal-footer">
        <button type="button" onclick="deleteProductProveedor(this)" data-product-id="" class="btn btn-danger" id="deleteProductProveedorButton">Sí</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal para eliminar un pedido -->
<div class="modal fade" id="deletePedidoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro de que desea eliminar este pedido?
      </div>
      <div class="modal-footer">
        <button type="button" onclick="deleteOrder(this)" data-order-id="{{ order.pedido_id }}" class="btn btn-danger">Sí</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar un producto-->
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editProductForm">
            {% csrf_token %}
            <input type="hidden" id="NEWproductId" name="NEWproductId">
            <input type="hidden" id="name2" name="name2">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="NEWproductName" name="NEWproductName">
            </div>
            <div class="form-group">
              <label for="stock">Stock</label>
              <input type="number" class="form-control" id="NEWproductStock" name="NEWproductStock">
            </div>
            <div class="form-group">
              <label for="min_stock">Stock mínimo</label>
              <input type="number" class="form-control" id="NEWproductMinStock" name="NEWproductMinStock">
            </div>
            <div class="form-group">
              <label for="cost_per_unit">Costo por unidad</label>
              <input type="number" class="form-control" id="NEWproductCost" name="NEWproductCost">
            </div>
            <div class="form-group">
              <label for="location">Ubicación</label>
              <input type="text" class="form-control" id="NEWproductLocation" name="NEWproductLocation">
            </div>     
            <div class="form-group">
              <label for="type_id">Tipo de ID</label>
              <input type="number" class="form-control" id="NEWproductTypeid" name="NEWproductTypeid">
            </div>
            <div class="form-group">
              <label for="fecha_llegada">Fecha de llegada</label>
              <input type="date" class="form-control" id="NEWproductFecha" name="NEWproductFecha">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" onclick="updateProduct(this)"  class="btn btn-primary">Actualizar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
        </div>
    </div>
</div> 

<!-- Modal para crear un producto-->
<div class="modal fade" id="createProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="createProductForm">
          {% csrf_token %}
          <input type="hidden" id="productId" name="productId">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" class="form-control" id="stock" name="stock">
          </div>
          <div class="form-group">
            <label for="min_stock">Stock mínimo</label>
            <input type="number" class="form-control" id="min_stock" name="min_stock">
          </div>
          <div class="form-group">
            <label for="cost_per_unit">Costo por unidad</label>
            <input type="number" class="form-control" id="cost_per_unit" name="cost_per_unit">
          </div>
          <div class="form-group">
            <label for="location">Ubicación</label>
            <input type="text" class="form-control" id="location" name="location">
          </div>
          <div class="form-group">
            <label for="image_url">URL de imagen</label>
            <input type="text" class="form-control" id="image_url" name="image_url">
          </div>
          <div class="form-group">
            <label for="product_description">Descripción</label>
            <textarea class="form-control" id="product_description" name="product_description"></textarea>
          </div>
          <div class="form-group">
            <label for="type_id">Tipo de ID</label>
            <input type="number" class="form-control" id="type_id" name="type_id">
          </div>
          <div class="form-group">
            <label for="fecha_llegada">Fecha de llegada</label>
            <input type="date" class="form-control" id="fecha_llegada" name="fecha_llegada">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" onclick="createProduct()"  class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
      </div>
  </div>
</div> 

<!-- Modal para crear un usuario-->
<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="userId" name="userId">
        <form id="createUserForm">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" id="username" name="username">
          </div>
          <div class="form-group">
            <label for="name">Contraseña</label>
            <input type="text" class="form-control" id="password" name="password">
          </div>        
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
          </div>
          <div class="form-group">
            <label for="name">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" name="apellidos">
          </div>
          <div class="form-group">
            <label for="name">Direccion</label>
            <input type="text" class="form-control" id="direccion" name="direccion">
          </div>
          <div class="form-group">
            <label for="name">Correo</label>
            <input type="text" class="form-control" id="correo" name="correo">
          </div>
          <div class="form-group">
            <label for="name">Telefono</label>
            <input type="text" class="form-control" id="telefono" name="telefono">
          </div>
          <div class="form-group">
            <label for="stock">Role id</label>
            <input type="number" class="form-control" id="role_id" name="role_id">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" onclick="createUser()"  class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
      </div>
  </div>
</div> 
    
<!-- Modal para editar un usuario-->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="NEWuserId" name="NEWuserId">
        <form id="editUserForm">
          {% csrf_token %}
          <div class="form-group">
   
            <label for="name">Username</label>
            <input type="text" class="form-control" id="NEWusername" name="NEWusername">
          </div>     
          <div class="form-group">
            <input type="hidden" id="nombre" name="nombre">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="NEWnombre" name="NEWnombre">
          </div>
          <div class="form-group">
            <label for="name">Apellidos</label>
            <input type="text" class="form-control" id="NEWapellidos" name="NEWapellidos">
          </div>
          <div class="form-group">
            <label for="name">Direccion</label>
            <input type="text" class="form-control" id="NEWdireccion" name="NEWdireccion" >
          </div>
          <div class="form-group">
            <label for="name">Correo</label>
            <input type="text" class="form-control" id="NEWcorreo" name="NEWcorreo" >
          </div>
          <div class="form-group">
            <label for="name">Telefono</label>
            <input type="text" class="form-control" id="NEWtelefono" name="NEWtelefono">
          </div>
          <div class="form-group">
            <label for="stock">Role id</label>
            <input type="number" class="form-control" id="NEWrole_id" name="NEWrole_id" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" onclick="editUser(this)"  data-nombre="nombre"  class="btn btn-primary">Actualizar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
      </div>
  </div>
</div> 

<!-- Modal para eliminar un producto -->
<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro de que desea eliminar este producto?
      </div>
      <div class="modal-footer">
        <button type="button" onclick="deleteProduct(this)" data-product-id="{{ product.id }}" class="btn btn-danger">Sí</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para eliminar un usuario -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <input type="hidden" id="userId" name="userId">
      </div>
      <div class="modal-body">
        ¿Está seguro de que desea eliminar este usuario?
      </div>
      <div class="modal-footer">
        <button type="button" id="deleteUserButton" onclick="deleteUser(this)" data-user-id="userId" class="btn btn-danger">Sí</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}