<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/login-register.css' %}" />
   
    <script src="{% static 'js/navbarJs.js' %}"></script>
    <script src="{% static 'js/inicio.js' %}"></script>
    <script src="{% static 'js/carrito.js' %}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
      $(document).ready(function(){
      var items = 2;
      $(window).on('resize', function(){
      if ($(window).width() <= 768) {
        items = 1;
      } else {
        items = 2;
      }
      $('.owl-carousel').trigger('destroy.owl.carousel');
      $('.owl-carousel').owlCarousel({
        nav: true,
        loop: true,
        items: items,
        autoplay: true,
        autoplayTimeout: 6000,
      });
      });
      $('.owl-carousel').owlCarousel({
        nav: true,
        loop: true,
        items: items,
        autoplay: true,
        autoplayTimeout: 6000,
      });
      });
    </script>

    <title>Warehouse Wars</title>
  </head>

  <body class="pb-5">
    {% include 'navbar.html' %}

    {% block content %}

    {% endblock content %}

    {% include 'footer.html' %}
  </body>

</html>
