{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mt-4 mb-4">
    <div class="container">
        <a href="{% url 'home' %}"><img src="{% static 'images/SlotsSolutions.jpg' %}" alt="Logo" class="navbar-brand logo-img"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="navbar-nav">
                <a href="{% url 'contacto' %}" class="nav-item nav-link mx-2">Contacto</a>
            </div>
            <div class="navbar-nav">
                <a href="{% url 'carrito' %}" class="nav-item nav-link mx-2">Carrito</a>
            </div>

            {% if request.user.is_authenticated %}
            <div class="navbar-nav ml-auto dropdown">
                <button class="btn mx-2 button-38" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="width: 130px;">
                    {{user.username}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-item nav-link mx-2" href="{% url 'home' %}">Inicio</a>
                    <a class="nav-item nav-link mx-2" href="{% url 'perfil' %}">Perfil</a>
                    <a class="nav-item nav-link mx-2" href="{% url 'logout' %}">Cerrar Sesión</a>
                </div>
            </div>
            {% else %}
            <div class="navbar-nav ml-auto">
                <a href="{% url 'login' %}" class="nav-item nav-link mx-2">Iniciar Sesión</a>
            </div>
            <div class="navbar-nav ">
                <a href="{% url 'registro' %}" class="btn mx-2 button-38" style="width: 110px;">Registrarse</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>