.logo-img{
  width: 120px;
  height: auto;
}

.bg-light {
  background-color: #fff !important;
}

.color-grey{
  margin-bottom: 40px;
  background-color: #F4F5F6;
}

.border{
  border-radius: 10px;
}

.imageCard{
  width: 200px;
  height: auto;
}

.owl-prev {
  left: 0;

}

.owl-next {
  right: 0;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 50%; /* set the top position of the arrows */
  line-height: 200px; /* adjust the line-height to align with the other elements */
  transform: translateY(-50%); /* center the arrows vertically */
}
.imgCarrousel{
  width: 250px;
  height:auto;
  margin-top: 2em;
}

/*Pagina de Contacto*/
.blue-icon {
  color: #062995;
}

.bold_txt{
  font-weight: bold;
  color: #062995;
  font-size: 1.15em;

}
/*Fin Página de Contacto*/

/*Página de Contacto*/
.rounded-input {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.message-input {
  height: 130px;
  line-height: 100px;
  vertical-align: top;
}
/*Fin Página de Contacto*/


.title-2{
  font-size: 16px;
  font-weight: bold;
}

/*Media Query Contacto*/

@media only screen and (min-width: 991px) {
.marginT2{
margin-top: 30px;
}
.imgCarrousel{
  width: 150px;
  height:auto;
  margin-top: 2em;
}
}

@media only screen and (max-width: 770px) {
  .container {
  width: 90%;
}
.imgCarrousel{
  width: 100px;
  height:auto;
}
.marginT{
  margin-top: 30px;
}
}

.card{
  border-radius: 0.75rem!important;
}




/* CSS */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  margin: 0 auto;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

/* CSS */
.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}


.product-info:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.borderPrize{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 8px 8px;
gap: 10px;
color:  #45B36B;
font-weight: bold;
width: 65px;
height: 30px;

/* Primary/4 */

border: 2px solid #45B36B;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}




